@{
    ViewBag.Title = "Über mich";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <h3>@ViewBag.Settings.Author</h3>
    <h5>@ViewBag.Settings.MatrikelNummer</h5>
    <hr />
    <h6>@ViewBag.Settings.Description</h6>
</article>
