<section id="links-view">
    <div class="widget">
        <h3>Blog Roll</h3>
        <div class="matter">
            <ul>
                <li><a href="#">Sed eu leo orci, condimentum gravida metus</a></li>
                <li><a href="#">Etiam at nulla ipsum, in rhoncus purus</a></li>
                <li><a href="#">Fusce vel magna faucibus felis dapibus facilisis</a></li>
                <li><a href="#">Vivamus scelerisque dui in massa</a></li>
                <li><a href="#">Pellentesque eget adipiscing dui semper</a></li>
            </ul>
        </div>
    </div>
</section>