<div class="widget">
    <!-- Sidebar heading enclosed inside h3. Don't forget to add the class "matopen". -->
    <h3>Suche</h3>
    <!-- Sidebar content should be enclosed inside div with the class "matter". -->
    <div class="matter">
        <!-- Search form -->
        <form class="form-inline">
            <input type="text" class="form-control" placeholder="Tag, Blogtitel oder Inhalt..."/>
        </form>
    </div>
</div>